<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item1</h2>
      </svg><svg class="icon icon--white collapsible__chevron">
        <use xlink:href="css\images\sprite.svg#chevron"></use>
    </header>
    <div class="collapsible__content">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi minima at minus distinctio assumenda doloribus
        veritatis, earum quod facilis reprehenderit.</p>
    </div>
  </div>
