<nav class="nav collapsible ">
    <a href="/"><img src="/css/images/logo.svg" alt=""></a>
    </svg><svg class="icon icon--primary nav__toggler">
        <use xlink:href="css\images\sprite.svg#menu"></use>
        <ul class="list nav__list collapsible__content">
            <li class="nav__item"><a href="#">Hoisting</a></li>
            <li class="nav__item"><a href="#">VPs</a></li>
            <li class="nav__item"><a href="#">Domain</a></li>
            <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
</nav>